/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #333;
}

/* Profile Box (Sidebar) Styles */
.profile-box {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.name-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.profile-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cv-link {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

/* Main Content Styles */
.text-content {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
a[style*="color:#b5bec9"] {
    color: #b5bec9 !important;
    font-size: 0.8em;
    float: right;
}
