/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #333;
}

/* Profile Box (Sidebar) Styles */
.profile-box {
    width: 30%; /* Adjust as needed */
    background-color: #f4f4f4;
    padding: 20px;
    margin-right: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.profile-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Main Content Styles */
.text-content {
    width: 65%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
a[style*="color:#b5bec9"] {
    color: #b5bec9 !important;
    font-size: 0.8em;
    float: right;
}
